* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Helvetica', Arial, sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(136,164,203,1) 60%, rgba(38,58,134,0.9023984593837535) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fill {
  height: 100%;
  }
